{% extends 'blog/base.html' %}
{% block content %}

<h2>My Blog Posts</h2>

<ul>
    {% for list in blog_list %}
        <li>
            <h3><a href="{{list.id}}">{{ list.title }}</a></h3>
            <p>{{ list.content|truncatewords:30 }}</p>
            <small>Published on: {{ list.date_created|date:"F d, Y" }}</small>
            <div class="actions"> 
                <a href="{{list.id}}/update/">Update</a>
                <a href="{{list.id}}/delete/">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
